<a href="https://colab.research.google.com/github/SofiaMarchesi/Titanic/blob/main/Titanic_Cabin_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Continuing the data manipulation of Titanic Dataset
- See the first part in Titanic_Name_Age_part1

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Datasets/Titanic_new_pronto[train]_.csv')
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Datasets/Titanic_new_pronto[test]_.csv')
test_raw = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Datasets/test.csv')
train_raw = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Datasets/train.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#See all rows without truncate
pd.set_option('display.max_rows', train.shape[0]+1)

In [ ]:
train.head(20)

    Unnamed: 0  PassengerId  ...  Family size_Large  Family size_Small
0            0            1  ...                  0                  1
1            1            2  ...                  0                  1
2            2            3  ...                  0                  0
3            3            4  ...                  0                  1
4            4            5  ...                  0                  0
5            5            6  ...                  0                  0
6            6            7  ...                  0                  0
7            7            8  ...                  1                  0
8            8            9  ...                  0                  1
9            9           10  ...                  0                  1
10          10           11  ...                  0                  1
11          11           12  ...                  0                  0
12          12           13  ...                  0                  0
13          13           14  ...                  0                  0
14          14           15  ...                  0                  0
15          15           16  ...                  0                  0
16          16           17  ...                  1                  0
17          17           18  ...                  0                  0
18          18           19  ...                  0                  1
19          19           20  ...                  0                  0

[20 rows x 35 columns]

The smallest families has more chance to survive, see below:

In [ ]:
train_family = train_raw['SibSp'] + train_raw['Parch']+1
train_family.head(10)
print(train_family.value_counts())
train_family1 = pd.concat([train['Survived'], train_family], axis=1).rename(columns = {0:'Family'})
train_family1.groupby('Family')['Survived'].sum()

1     537
2     161
3     102
4      29
6      22
5      15
7      12
11      7
8       6
dtype: int64

Family
1     163
2      89
3      59
4      21
5       3
6       3
7       4
8       0
11      0
Name: Survived, dtype: int64

In [ ]:
test_family = test_raw['SibSp'] + test_raw['Parch'] + 1
test_family.head(10)
test_family.value_counts()

1     253
2      74
3      57
4      14
5       7
11      4
7       4
6       3
8       2
dtype: int64

In [ ]:
train1 = train_raw.copy()
test1 = test_raw.copy()

In [ ]:
train1.head(50)

In [ ]:
cabin_train = train1['Cabin']
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- Get just the type of Cabin
- Fill NaN with a different type: X

In [ ]:
cabin_test = test1['Cabin']

418
891

In [ ]:
cabin1_train = cabin_train.str.get(0)
cabin1_train = cabin1_train.fillna('X')
print(cabin1.value_counts())


cabin1_test = cabin_test.str.get(0)
cabin1_test = cabin1_test.fillna('X')
print(cabin1_test.value_counts())

X    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64
X    327
C     35
B     18
D     13
E      9
F      8
A      7
G      1
Name: Cabin, dtype: int64

In [ ]:
print(len(cabin1_test))
print(len(cabin1_train))

418
418
891
891

In [ ]:
cabin_dummie_train = pd.get_dummies(cabin1_train, prefix='Cabin')
cabin_dummie_train.head(10)

   Cabin_A  Cabin_B  Cabin_C  Cabin_D  ...  Cabin_F  Cabin_G  Cabin_T  Cabin_X
0        0        0        0        0  ...        0        0        0        1
1        0        0        1        0  ...        0        0        0        0
2        0        0        0        0  ...        0        0        0        1
3        0        0        1        0  ...        0        0        0        0
4        0        0        0        0  ...        0        0        0        1
5        0        0        0        0  ...        0        0        0        1
6        0        0        0        0  ...        0        0        0        0
7        0        0        0        0  ...        0        0        0        1
8        0        0        0        0  ...        0        0        0        1
9        0        0        0        0  ...        0        0        0        1

[10 rows x 9 columns]

There is no Cabin_T in test dataset, so will put zeros in this feature.

In [ ]:
import numpy as np

Cabin_T = pd.DataFrame({'Cabin_T': np.zeros(cabin1_test.shape[0], dtype=np.int8)})
cabin_dummie_test = pd.get_dummies(cabin1_test, prefix='Cabin')
cabin_dummie_test = pd.concat([cabin_dummie_test,Cabin_T], axis=1)
cabin_dummie_test.head(10)

   Cabin_A  Cabin_B  Cabin_C  Cabin_D  ...  Cabin_F  Cabin_G  Cabin_X  Cabin_T
0        0        0        0        0  ...        0        0        1        0
1        0        0        0        0  ...        0        0        1        0
2        0        0        0        0  ...        0        0        1        0
3        0        0        0        0  ...        0        0        1        0
4        0        0        0        0  ...        0        0        1        0
5        0        0        0        0  ...        0        0        1        0
6        0        0        0        0  ...        0        0        1        0
7        0        0        0        0  ...        0        0        1        0
8        0        0        0        0  ...        0        0        1        0
9        0        0        0        0  ...        0        0        1        0

[10 rows x 9 columns]

In [ ]:
train2 = train.copy()
test2 = test.copy()

In [ ]:
train2.head(10)
train3 = pd.concat([train2,cabin_dummie_train], axis=1)
train3.head(10)
train3_ = train3.drop('Unnamed: 0', axis=1)
train3_.head(10)

   PassengerId  Survived        Age  Fare  ...  Cabin_F  Cabin_G  Cabin_T  Cabin_X
0            1         0  22.000000   7.0  ...        0        0        0        1
1            2         1  38.000000  71.0  ...        0        0        0        0
2            3         1  26.000000   8.0  ...        0        0        0        1
3            4         1  35.000000  53.0  ...        0        0        0        0
4            5         0  35.000000   8.0  ...        0        0        0        1
5            6         0  32.252151   8.0  ...        0        0        0        1
6            7         0  54.000000  52.0  ...        0        0        0        0
7            8         0   2.000000  21.0  ...        0        0        0        1
8            9         1  27.000000  11.0  ...        0        0        0        1
9           10         1  14.000000  30.0  ...        0        0        0        1

[10 rows x 43 columns]

In [ ]:
test2.head(10)
test3 = pd.concat([test2,cabin_dummie_test], axis=1)
test3_ = test3.drop('Unnamed: 0', axis=1)
test3_.head(10)

   PassengerId   Age     Fare  Name_Lady  ...  Cabin_F  Cabin_G  Cabin_X  Cabin_T
0          892  34.5   7.8292          0  ...        0        0        1        0
1          893  47.0   7.0000          0  ...        0        0        1        0
2          894  62.0   9.6875          0  ...        0        0        1        0
3          895  27.0   8.6625          0  ...        0        0        1        0
4          896  22.0  12.2875          0  ...        0        0        1        0
5          897  14.0   9.2250          0  ...        0        0        1        0
6          898  30.0   7.6292          0  ...        0        0        1        0
7          899  26.0  29.0000          0  ...        0        0        1        0
8          900  18.0   7.2292          0  ...        0        0        1        0
9          901  21.0  24.1500          0  ...        0        0        1        0

[10 rows x 42 columns]

In [ ]:
train4 = train3.copy()
test4 = test3.copy()

In [ ]:
train4['Age'] = train4['Age'].round(1)
test4['Age'] = test4['Age'].round(1)

In [ ]:
train4.head(20)
train4.shape

(891, 44)

In [ ]:
test4.head(20)
test4.shape

(418, 43)

In [ ]:
test4.to_csv('test_cabin.csv')

In [ ]:
train4.to_csv('train_cabin.csv')